@using DarkSoulsII.ViewModels;

@model ArmorViewModel
@{
    ViewBag.Title = Model.Name;
    string typeName = "";
    switch (Model.ArmorType)
    {
        case "Chest":
            typeName = "_chest";
            break;
        case "Helm":
            typeName = "_head";
            break;
        case "Gauntlet":
            typeName = "_hands";
            break;
        case "Legging":
            typeName = "_legs";
            break;
    }
    string normalizedName = Model.Name.Replace("+5", "").Replace("+10", "").Replace(" ", "-").Replace("'", "-").Replace("`", "-");
    string imageLink = String.Format("http://darksouls2.wdfiles.com/local--files/{0}/{1}-lg.png",
                                        typeName,
                                        normalizedName.ToLower());
    }

<script type="text/javascript">
    $(document).ready(function () {
        $('#statsTable').DataTable({
            "searching": false,
            "paging": false,
            "info": false,
            "ordering": false
        });
    });
</script>

<div class="row">
    <div class="col-sm-6">
        <h2>@Model.Name</h2>

        <div class="panel panel-default">
            <div class="panel-heading">Details</div>
            <div class="panel-body">
                <div class="col-sm-4">
                    <label>Poise:</label> @Model.Poise
                </div>
                <div class="col-sm-4">
                    <label>Weight:</label> @Model.Weight
                </div>
                <div class="col-sm-4">
                    <label>Durability:</label> @Model.Durability
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="@imageLink" style="width: 250px;" />
    </div>
</div>
<h3>Armor Stats:</h3>
<div class="table-responsive">
    <table id="statsTable" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <td colspan="1"></td>
                <td colspan="4" style="text-align:center;"><label>Physical Defenses</label></td>
                <td colspan="4" style="text-align:center;"><label>Elemental Defenses</label></td>
                <td colspan="4" style="text-align:center;"><label>Resistances</label></td>
            </tr>
            <tr>
                <td><label>Name</label></td>
                <td class="col-armor-details-stats"><img src="~/Content/Images/PhysDef.png" data-toggle="tooltip" title="Physical" /></td>
                <td class="col-armor-details-stats"><img src="~/Content/Images/SlashDef.png" data-toggle="tooltip" title="Slash" /></td>
                <td class="col-armor-details-stats"><img src="~/Content/Images/StrikeDef.png" data-toggle="tooltip" title="Strike" /></td>
                <td class="col-armor-details-stats"><img src="~/Content/Images/ThrustDef.png" data-toggle="tooltip" title="Thrust" /></td>
                <td class="col-armor-details-stats"><img src="~/Content/Images/MagicDef.png" data-toggle="tooltip" title="Magic" /></td>
                <td class="col-armor-details-stats"><img src="~/Content/Images/FireDef.png" data-toggle="tooltip" title="Fire" /></td>
                <td class="col-armor-details-stats"><img src="~/Content/Images/LightningDef.png" data-toggle="tooltip" title="Lightning" /></td>
                <td class="col-armor-details-stats"><img src="~/Content/Images/DarkDef.png" data-toggle="tooltip" title="Dark" /></td>
                <td class="col-armor-details-stats"><img src="~/Content/Images/BleedRes.png" data-toggle="tooltip" title="Bleed" /></td>
                <td class="col-armor-details-stats"><img src="~/Content/Images/CurseRes.png" data-toggle="tooltip" title="Curse" /></td>
                <td class="col-armor-details-stats"><img src="~/Content/Images/PetRes.png" data-toggle="tooltip" title="Petrification" /></td>
                <td class="col-armor-details-stats"><img src="~/Content/Images/PoisonRes.png" data-toggle="tooltip" title="Poison" /></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
                <td class="col-armor-details-stats">@Model.Physical</td>
                <td class="col-armor-details-stats">@Model.Slash</td>
                <td class="col-armor-details-stats">@Model.Strike</td>
                <td class="col-armor-details-stats">@Model.Thrust</td>
                <td class="col-armor-details-stats">@Model.Magic</td>
                <td class="col-armor-details-stats">@Model.Fire</td>
                <td class="col-armor-details-stats">@Model.Lightning</td>
                <td class="col-armor-details-stats">@Model.Dark</td>
                <td class="col-armor-details-stats">@Model.Bleed</td>
                <td class="col-armor-details-stats">@Model.Curse</td>
                <td class="col-armor-details-stats">@Model.Petrification</td>
                <td class="col-armor-details-stats">@Model.Poison</td>
            </tr>
        </tbody>
    </table>
</div>