@using DarkSoulsII.ViewModels;

@model List<ArmorViewModel>
@{
    ViewBag.Title = "Armor";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#armorResultsTable').DataTable({
            "language": { "search": "Filter:" }
        });

        $("#searchValue").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("ArmorAutocomplete")',
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Text, value: item.Text };
                        }))
                    }
                })
            }
        });

        $('#searchValue').keypress(function (e) {
            if (e.keyCode == 13) {
                searchChanged();
            }
        });
    });

    function searchChanged() {
        document.armorSearchForm.submit();
    }

    //var totalPoise = 0;
    //var totalWeight = 0;

    //function addArmor(weight, poise) {
    //    totalPoise = Number(totalPoise) + Number(poise);
    //    totalWeight = Number(totalWeight) + Number(weight);
    //    $('#lblWeight').text(totalWeight);
    //    $('#lblPoise').text(totalPoise);
    //}

    //function removeArmor(weight, poise) {
    //    totalPoise = Number(totalPoise) - Number(poise);
    //    totalWeight = Number(totalWeight) - Number(weight);
    //    $('#lblWeight').text(totalWeight);
    //    $('#lblPoise').text(totalPoise);
    //}
</script>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Home">Dark Souls II</a></li>
    <li class="breadcrumb-item active">Armor</li>
</ol>

<h4>Armor Search Utility</h4>

@using (Html.BeginForm("Index", "armor", FormMethod.Get, new { name = "armorSearchForm", @class = "form" }))
{
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Search Terms</div>
                <div class="panel-body form">
                    <div class="form-group">
                        <label for="armorTypeId">Type:</label>
                        @Html.DropDownList("armorTypeId", ViewBag.ArmorTypes as IEnumerable<SelectListItem>, new { @class = "form-control", onchange = "searchChanged();" })
                    </div>
                    <div class="form-group">
                        <label for="searchValue">Name (contains):</label>
                        @Html.TextBox("searchValue", ViewBag.SearchValue as string, new { @class = "form-control" })
                    </div>
                    <input type="button" class="btn btn-primary pull-right" onclick="searchChanged();" value="Search">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">Additional Filters</div>
                <div class="panel-body form-horizontal">
                    <div class="form-group row">
                        <label for="maxWeight" class="col-sm-3 col-xs-6">Max Weight:</label>
                        <div class="col-sm-3 col-xs-6">
                            @Html.TextBox("maxWeight", ViewBag.MaxWeight as decimal?, new { type = "number", min = "0", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="minPoise" class="col-sm-3 col-xs-6">Min Poise:</label>
                        <div class="col-sm-3 col-xs-6">
                            @Html.TextBox("minPoise", ViewBag.MinPoise as decimal?, new { type = "number", min = "0", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="table-responsive">
    <table id="armorResultsTable" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <td colspan="1"></td>
                <td colspan="8" style="text-align:center;"><label>Defenses</label></td>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td><label>Name</label></td>
                <td class="col-armor-search-stats"><img src="~/Content/Images/PhysDef.png" data-toggle="tooltip" title="Physical" /></td>
                <td class="col-armor-search-stats"><img src="~/Content/Images/SlashDef.png" data-toggle="tooltip" title="Slash" /></td>
                <td class="col-armor-search-stats"><img src="~/Content/Images/StrikeDef.png" data-toggle="tooltip" title="Strike" /></td>
                <td class="col-armor-search-stats"><img src="~/Content/Images/ThrustDef.png" data-toggle="tooltip" title="Thrust" /></td>
                <td class="col-armor-search-stats"><img src="~/Content/Images/MagicDef.png" data-toggle="tooltip" title="Magic" /></td>
                <td class="col-armor-search-stats"><img src="~/Content/Images/FireDef.png" data-toggle="tooltip" title="Fire" /></td>
                <td class="col-armor-search-stats"><img src="~/Content/Images/LightningDef.png" data-toggle="tooltip" title="Lightning" /></td>
                <td class="col-armor-search-stats"><img src="~/Content/Images/DarkDef.png" data-toggle="tooltip" title="Dark" /></td>
                <td class="col-armor-search-stats"><img src="~/Content/Images/Weight.png" data-toggle="tooltip" title="Weight" /></td>
                <td class="col-armor-search-stats"><img src="~/Content/Images/Poise.png" data-toggle="tooltip" title="Poise" /></td>
                <td class="col-armor-search-stats"><label data-toggle="tooltip" title="Poise:Weight">P:W</label></td>
                <td class="col-armor-search-stats"><label data-toggle="tooltip" title="Defense:Weight">D:W</label></td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (ArmorViewModel a in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(a.Name, "Details", new { armorId = a.ArmorId }, new { target = "_blank" })</td>
                        <td class="col-armor-search-stats">@a.Physical</td>
                        <td class="col-armor-search-stats">@a.Slash</td>
                        <td class="col-armor-search-stats">@a.Strike</td>
                        <td class="col-armor-search-stats">@a.Thrust</td>
                        <td class="col-armor-search-stats">@a.Magic</td>
                        <td class="col-armor-search-stats">@a.Fire</td>
                        <td class="col-armor-search-stats">@a.Lightning</td>
                        <td class="col-armor-search-stats">@a.Dark</td>
                        <td class="col-armor-search-stats">@a.Weight</td>
                        <td class="col-armor-search-stats">@a.Poise</td>
                        <td class="col-armor-search-stats">@a.PoiseToWeight.ToString("N2")</td>
                        <td class="col-armor-search-stats">@a.DefenseToWeight.ToString("N2")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>