@using DarkSoulsII.ViewModels;

@model List<WeaponViewModel>
@{
    ViewBag.Title = "Weapons";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#weaponResultsTable').DataTable({
            "language": { "search": "Filter:" },
        });

        $("#searchValue").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("WeaponsAutocomplete")',
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Text, value: item.Text };
                        }))
                    }
                })
            }
        });

        $('#searchValue').keypress(function (e) {
            if (e.keyCode == 13) {
                searchChanged();
            }
        });
    });

    function searchChanged() {
        document.weaponSearchForm.submit();
    }
</script>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Home">Dark Souls II</a></li>
    <li class="breadcrumb-item active">Weapons</li>
</ol>

<h4>Weapon Search Utility</h4>

@using (Html.BeginForm("Index", "Weapons", FormMethod.Get, new { name = "weaponSearchForm", @class = "form" }))
{
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Search Terms</div>
                <div class="panel-body">
                    <div class="form-group row">
                        <label class="col-sm-1">Type:</label>
                        <div class="col-sm-7">@Html.DropDownList("weaponTypeId", ViewBag.WeaponTypes as IEnumerable<SelectListItem>, new { onchange = "searchChanged();", style = "width:100%;" })</div>
                    </div>
                    <div class="row">
                        <label class="col-sm-6">Name (contains):</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-8">@Html.TextBox("searchValue", ViewBag.SearchValue as string, new { style = "width:100%;" })</div>
                    </div>
                    <div class="form-group row">
                        @*<label class="col-sm-3">Upgrade Level:</label>
                            <div class="col-sm-5">@Html.DropDownList("upgradeLevel", ViewBag.ReinforcementLevels as IEnumerable<SelectListItem>, new { onchange = "searchChanged();", style = "width:100%;" })</div>*@
                        <div class="col-sm-offset-9 col-sm-3">
                            <button type="submit" class="btn btn-secondary" onclick="searchChanged();" style="width:100%;">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">Additional Filters</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-6">Max Requirements:</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"><img src="~/Content/Images/STR.png" data-toggle="tooltip" title="Strength" /> @Html.TextBox("str", ViewBag.STR as int?, new { type = "number", min = "0", style = "width:50px;" })</div>
                            <div class="col-sm-3"><img src="~/Content/Images/DEX.png" data-toggle="tooltip" title="Dexterity" /> @Html.TextBox("dex", ViewBag.DEX as int?, new { type = "number", min = "0", style = "width:50px;" })</div>
                            <div class="col-sm-3"><img src="~/Content/Images/INT.png" data-toggle="tooltip" title="Intelligence" /> @Html.TextBox("int", ViewBag.INT as int?, new { type = "number", min = "0", style = "width:50px;" })</div>
                            <div class="col-sm-3"><img src="~/Content/Images/FTH.png" data-toggle="tooltip" title="Faith" /> @Html.TextBox("fth", ViewBag.FTH as int?, new { type = "number", min = "0", style = "width:50px;" })</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3">Max Weight:</label>
                        <div class="col-sm-3">@Html.TextBox("weight", ViewBag.Weight as decimal?, new { type = "number", min = "0", style = "width:100%;" })</div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3">Infusion:</label>
                        <div class="col-sm-5">@Html.DropDownList("infusionId", ViewBag.InfusionTypes as IEnumerable<SelectListItem>, new { style = "width:100%;" })</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="table-responsive">
    <table id="weaponResultsTable" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <td colspan="1"></td>
                <td colspan="5" style="text-align:center;"><label>Base Damage</label></td>
                <td colspan="4" style="text-align:center;"><label>Requirements</label></td>
                <td colspan="6" style="text-align:center;"><label>Scaling</label></td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td><label>Name</label></td>

                <td class="col-weapon-search-stats"><img src="~/Content/Images/Phys.png" data-toggle="tooltip" title="Physical" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Magic.png" data-toggle="tooltip" title="Magic" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Fire.png" data-toggle="tooltip" title="Fire" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Lightning.png" data-toggle="tooltip" title="Lightning" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Dark.png" data-toggle="tooltip" title="Dark" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/STR.png" data-toggle="tooltip" title="Strength" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/DEX.png" data-toggle="tooltip" title="Dexterity" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/INT.png" data-toggle="tooltip" title="Intelligence" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/FTH.png" data-toggle="tooltip" title="Faith" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/STR.png" data-toggle="tooltip" title="Strength" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/DEX.png" data-toggle="tooltip" title="Dexterity" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Magic.png" data-toggle="tooltip" title="Magic" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Fire.png" data-toggle="tooltip" title="Fire" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Lightning.png" data-toggle="tooltip" title="Lightning" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Dark.png" data-toggle="tooltip" title="Dark" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Weight.png" data-toggle="tooltip" title="Weight" /></td>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (WeaponViewModel w in Model)
                {
                    <tr>
                        <td style="font-size:12px;">@Html.ActionLink(w.Name, "Details", new { weaponId = w.WeaponId })</td>
                        <td class="col-weapon-search-stats">@w.BasePhysical</td>
                        <td class="col-weapon-search-stats">@w.BaseMagic</td>
                        <td class="col-weapon-search-stats">@w.BaseFire</td>
                        <td class="col-weapon-search-stats">@w.BaseLightning</td>
                        <td class="col-weapon-search-stats">@w.BaseDark</td>
                        <td class="col-weapon-search-stats">@w.StrReq</td>
                        <td class="col-weapon-search-stats">@w.DexReq</td>
                        <td class="col-weapon-search-stats">@w.IntReq</td>
                        <td class="col-weapon-search-stats">@w.FthReq</td>
                        <td class="col-weapon-search-stats">@w.StrScaling%</td>
                        <td class="col-weapon-search-stats">@w.DexScaling%</td>
                        <td class="col-weapon-search-stats">@w.MagicScaling%</td>
                        <td class="col-weapon-search-stats">@w.FireScaling%</td>
                        <td class="col-weapon-search-stats">@w.LightningScaling%</td>
                        <td class="col-weapon-search-stats">@w.DarkScaling%</td>
                        <td class="col-weapon-search-stats">@w.Weight</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
