@model DarkSoulsII.ViewModels.WeaponDetails

<script type="text/javascript">
    $(document).ready(function () {
        $('#normalStats').DataTable();

        $('#infusedStats').DataTable();
    });
</script>

<h2>@Model.Normal.Name (+@Model.Normal.MaxUpgrade)</h2>

<p>STR Requirement: @Model.Normal.StrReq</p>
<p>DEX Requirement: @Model.Normal.DexReq</p>
<p>INT Requirement: @Model.Normal.IntReq</p>
<p>FTH Requirement: @Model.Normal.FthReq</p>
<p>Weight: @Model.Normal.Weight</p>
<p>Poise Damage: @Model.Normal.PoiseDamage</p>

<h3>Weapon Stats:</h3>
<div class="table-responsive">
    <table id="normalStats" class="table table-striped table-bordered" cellspacing="0">
        <thead>
            <tr>
                <td>Name</td>
                <td>Base Phys</td>
                <td>Base Mag</td>
                <td>Base Fire</td>
                <td>Base Lgn</td>
                <td>Base Dark</td>
                <td>STR Scaling</td>
                <td>DEX Scaling</td>
                <td>Mag Scaling</td>
                <td>Fire Scaling</td>
                <td>Lgn Scaling</td>
                <td>Dark Scaling</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Normal.FullName</td>
                <td>@Model.Normal.BasePhysical</td>
                <td>@Model.Normal.BaseMagic</td>
                <td>@Model.Normal.BaseFire</td>
                <td>@Model.Normal.BaseLightning</td>
                <td>@Model.Normal.BaseDark</td>
                <td>@Model.Normal.StrScaling%</td>
                <td>@Model.Normal.DexScaling%</td>
                <td>@Model.Normal.MagicScaling%</td>
                <td>@Model.Normal.FireScaling%</td>
                <td>@Model.Normal.LightningScaling%</td>
                <td>@Model.Normal.DarkScaling%</td>
            </tr>
        </tbody>
    </table>
</div>

<h3>Infusion Stats:</h3>
@if (Model.Infusions == null || Model.Infusions.Count == 0)
{
    <p>
        No infusions available for this weapon.
    </p>
}
else
{
    <div class="table-responsive">
        <table id="infusedStats" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Base Phys</td>
                    <td>Base Mag</td>
                    <td>Base Fire</td>
                    <td>Base Lgn</td>
                    <td>Base Dark</td>
                    <td>STR Scaling</td>
                    <td>DEX Scaling</td>
                    <td>Mag Scaling</td>
                    <td>Fire Scaling</td>
                    <td>Lgn Scaling</td>
                    <td>Dark Scaling</td>
                </tr>
            </thead>
            <tbody>
                @foreach (DarkSoulsII.ViewModels.Weapon w in Model.Infusions)
                {
                    <tr>
                        <td>@w.FullName</td>
                        <td>@w.BasePhysical</td>
                        <td>@w.BaseMagic</td>
                        <td>@w.BaseFire</td>
                        <td>@w.BaseLightning</td>
                        <td>@w.BaseDark</td>
                        <td>@w.StrScaling%</td>
                        <td>@w.DexScaling%</td>
                        <td>@w.MagicScaling%</td>
                        <td>@w.FireScaling%</td>
                        <td>@w.LightningScaling%</td>
                        <td>@w.DarkScaling%</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
