@using DarkSoulsII.Areas.DS3.ViewModels;

@model WeaponARModel

<script type="text/javascript">
    $(document).ready(function () {
        $('#arResultsTable').DataTable({
            "searching": false,
            "paging": false,
            "info": false,
            "ordering": false
        });
    });
</script>

@if (!Model.RequirementsMet)
{
    <h4 style="color:red;">Requirements Not Met</h4>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Requirements</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3"><img src="~/Content/Images/STR.png" data-toggle="tooltip" title="Strength" /> @Model.StrReq</div>
                        <div class="col-sm-3"><img src="~/Content/Images/DEX.png" data-toggle="tooltip" title="Dexterity" /> @Model.DexReq</div>
                        <div class="col-sm-3"><img src="~/Content/Images/INT.png" data-toggle="tooltip" title="Intelligence" /> @Model.IntReq</div>
                        <div class="col-sm-3"><img src="~/Content/Images/FTH.png" data-toggle="tooltip" title="Faith" /> @Model.FthReq</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h4>Results</h4>
    <div class="table-responsive">
        <table id="arResultsTable" class="table table-striped table-bordered" cellspacing="0">
            <thead>
                <tr>
                    <td colspan="1"><label></label></td>
                    <td colspan="1" class="col-weapon-ar-stats"><label>Total AR</label></td>
                    <td colspan="1" class="col-weapon-ar-stats"><label>Physical</label></td>
                    <td colspan="1" class="col-weapon-ar-stats"><label>Magic</label></td>
                    <td colspan="1" class="col-weapon-ar-stats"><label>Fire</label></td>
                    <td colspan="1" class="col-weapon-ar-stats"><label>Lightning</label></td>
                    <td colspan="1" class="col-weapon-ar-stats"><label>Dark</label></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.ActionLink(Model.WeaponName, "Details", new { weaponId = Model.WeaponId, upgradeLevel = Model.ReinforcementLevel })</td>
                    <td class="col-weapon-ar-stats">@Model.TotalAR.ToString("F")</td>
                    <td class="col-weapon-ar-stats">@Model.PhysAR.ToString("F")</td>
                    <td class="col-weapon-ar-stats">@Model.MagicAR.ToString("F")</td>
                    <td class="col-weapon-ar-stats">@Model.FireAR.ToString("F")</td>
                    <td class="col-weapon-ar-stats">@Model.LightningAR.ToString("F")</td>
                    <td class="col-weapon-ar-stats">@Model.DarkAR.ToString("F")</td>
                </tr>
            </tbody>
        </table>
    </div>
}
