@using DarkSoulsII.Areas.DS3.ViewModels;

@model WeaponDetailsView
@{
    ViewBag.Title = Model.Normal.Name;
    string normalizedName = Model.Normal.Name.Replace(" ", "-").Replace("'", "-");
    string imageLink = String.Format("http://darksouls3.wdfiles.com/local--files/image-set-equipment:{0}/{1}.png",
                                        normalizedName.ToLower(),
                                        normalizedName);
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#normalStatsTable').DataTable({
            "searching": false,
            "paging": false,
            "info": false,
            "ordering": false
        });
        $('#infusionStatsTable').DataTable({
            "searching": false,
            "paging": false,
            "info": false
        });
    });
</script>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Home">Dark Souls III</a></li>
    <li class="breadcrumb-item"><a href="~/DS3/Weapons">Weapons</a></li>
    <li class="breadcrumb-item active">@Model.Normal.Name</li>
</ol>

<div class="media">
    <div class="media-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                @if (string.IsNullOrEmpty(Model.Normal.UpgradePath))
                {
                    <h5>@Model.Normal.Name</h5>
                }
                else
                {
                    <h5>@Model.Normal.Name (+@(Model.Normal.UpgradePath == "Normal" ? Model.Normal.UpgradeLevel : Model.Normal.UpgradeLevel / 2))</h5>
                }
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <label class="col-sm-6">Requirements:</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-1"><img src="~/Content/Images/STR.png" data-toggle="tooltip" title="Strength" /> @Model.Normal.StrReq</div>
                            <div class="col-sm-1"><img src="~/Content/Images/DEX.png" data-toggle="tooltip" title="Dexterity" /> @Model.Normal.DexReq</div>
                            <div class="col-sm-1"><img src="~/Content/Images/INT.png" data-toggle="tooltip" title="Intelligence" /> @Model.Normal.IntReq</div>
                            <div class="col-sm-1"><img src="~/Content/Images/FTH.png" data-toggle="tooltip" title="Faith" /> @Model.Normal.FthReq</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12"><label>Weight:</label> @Model.Normal.Weight</div>
                        </div>
                        @if (Model.Normal.Critical != null)
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Critical:</label> @Model.Normal.Critical
                                </div>
                            </div>
                        }
                        @if (!string.IsNullOrWhiteSpace(Model.Normal.UpgradePath))
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Upgrade Path:</label> @Model.Normal.UpgradePath
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="media-right">
        <img src="@imageLink" style="width: 250px;" />
    </div>
</div>

@Html.ActionLink("Calculate my Character's AR with this Weapon", "ARCalculator", new { weaponId = Model.Normal.WeaponId }, new { style = "font-weight: bold;" })

<h3>Weapon Stats:</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table id="normalStatsTable" class="table table-striped table-bordered" cellspacing="0">
                <thead>
                    <tr>
                        <td colspan="1"></td>
                        <td colspan="5" style="text-align:center;"><label>Base Damage</label></td>
                        <td colspan="5" style="text-align:center;"><label>Scaling</label></td>
                    </tr>
                    <tr>
                        <td><label>Name</label></td>
                        <td class="col-weapon-details-stats"><img src="~/Content/Images/Phys.png" data-toggle="tooltip" title="Physical" /></td>
                        <td class="col-weapon-details-stats"><img src="~/Content/Images/Magic.png" data-toggle="tooltip" title="Magic" /></td>
                        <td class="col-weapon-details-stats"><img src="~/Content/Images/Fire.png" data-toggle="tooltip" title="Fire" /></td>
                        <td class="col-weapon-details-stats"><img src="~/Content/Images/Lightning.png" data-toggle="tooltip" title="Lightning" /></td>
                        <td class="col-weapon-details-stats"><img src="~/Content/Images/Dark.png" data-toggle="tooltip" title="Dark" /></td>
                        <td class="col-weapon-details-stats"><img src="~/Content/Images/STR.png" data-toggle="tooltip" title="Strength" /></td>
                        <td class="col-weapon-details-stats"><img src="~/Content/Images/DEX.png" data-toggle="tooltip" title="Dexterity" /></td>
                        <td class="col-weapon-details-stats"><img src="~/Content/Images/INT.png" data-toggle="tooltip" title="Intelligence" /></td>
                        <td class="col-weapon-details-stats"><img src="~/Content/Images/FTH.png" data-toggle="tooltip" title="Faith" /></td>
                        <td class="col-weapon-details-stats"><img src="~/Content/Images/LCK.png" data-toggle="tooltip" title="Luck" /></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Normal.Name</td>
                        <td class="col-weapon-details-stats">@Model.Normal.Physical</td>
                        <td class="col-weapon-details-stats">@Model.Normal.Magic</td>
                        <td class="col-weapon-details-stats">@Model.Normal.Fire</td>
                        <td class="col-weapon-details-stats">@Model.Normal.Lightning</td>
                        <td class="col-weapon-details-stats">@Model.Normal.Dark</td>
                        <td class="col-weapon-details-stats">@Model.Normal.StrScaling%</td>
                        <td class="col-weapon-details-stats">@Model.Normal.DexScaling%</td>
                        <td class="col-weapon-details-stats">@Model.Normal.IntScaling%</td>
                        <td class="col-weapon-details-stats">@Model.Normal.FthScaling%</td>
                        <td class="col-weapon-details-stats">@Model.Normal.LckScaling%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h3>Infusion Stats:</h3>
@if (Model.Infusions == null || Model.Infusions.Count == 0)
{
    <p>
        This weapon cannot be infused.
    </p>
}
else
{
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="infusionStatsTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                    <thead>
                        <tr>
                            <td colspan="1"></td>
                            <td colspan="5" style="text-align:center;"><label>Base Damage</label></td>
                            <td colspan="5" style="text-align:center;"><label>Scaling</label></td>
                        </tr>
                        <tr>
                            <td><label>Infusion</label></td>
                            <td class="col-weapon-details-stats"><img src="~/Content/Images/Phys.png" data-toggle="tooltip" title="Physical" /></td>
                            <td class="col-weapon-details-stats"><img src="~/Content/Images/Magic.png" data-toggle="tooltip" title="Magic" /></td>
                            <td class="col-weapon-details-stats"><img src="~/Content/Images/Fire.png" data-toggle="tooltip" title="Fire" /></td>
                            <td class="col-weapon-details-stats"><img src="~/Content/Images/Lightning.png" data-toggle="tooltip" title="Lightning" /></td>
                            <td class="col-weapon-details-stats"><img src="~/Content/Images/Dark.png" data-toggle="tooltip" title="Dark" /></td>
                            <td class="col-weapon-details-stats"><img src="~/Content/Images/STR.png" data-toggle="tooltip" title="Strength" /></td>
                            <td class="col-weapon-details-stats"><img src="~/Content/Images/DEX.png" data-toggle="tooltip" title="Dexterity" /></td>
                            <td class="col-weapon-details-stats"><img src="~/Content/Images/INT.png" data-toggle="tooltip" title="Intelligence" /></td>
                            <td class="col-weapon-details-stats"><img src="~/Content/Images/FTH.png" data-toggle="tooltip" title="Faith" /></td>
                            <td class="col-weapon-details-stats"><img src="~/Content/Images/LCK.png" data-toggle="tooltip" title="Luck" /></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (WeaponViewModel w in Model.Infusions)
                {
                            <tr>
                                <td>@w.Infusion @w.Name</td>
                                <td class="col-weapon-details-stats">@w.Physical</td>
                                <td class="col-weapon-details-stats">@w.Magic</td>
                                <td class="col-weapon-details-stats">@w.Fire</td>
                                <td class="col-weapon-details-stats">@w.Lightning</td>
                                <td class="col-weapon-details-stats">@w.Dark</td>
                                <td class="col-weapon-details-stats">@w.StrScaling%</td>
                                <td class="col-weapon-details-stats">@w.DexScaling%</td>
                                <td class="col-weapon-details-stats">@w.IntScaling%</td>
                                <td class="col-weapon-details-stats">@w.FthScaling%</td>
                                <td class="col-weapon-details-stats">@w.LckScaling%</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
