@using DarkSoulsII.Areas.DS3.ViewModels;

@model List<WeaponViewModel>
@{
    ViewBag.Title = "Weapons";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#weaponResultsTable').DataTable({
            "language": { "search": "Filter:" },
        });

        $("#searchValue").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("WeaponsAutocomplete")',
                    type: "GET",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Text, value: item.Text };
                        }))
                    }
                })
            }
        });

        $('#searchValue').keypress(function (e) {
            if (e.keyCode == 13) {
                searchChanged();
            }
        });
    });

    function searchChanged() {
        document.weaponSearchForm.submit();
    }
</script>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="~/Home">Dark Souls III</a></li>
    <li class="breadcrumb-item active">Weapons</li>
</ol>

<h4>Weapon Search Utility</h4>

@using (Html.BeginForm("Index", "Weapons", FormMethod.Get, new { name = "weaponSearchForm", @class = "form" }))
{
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Search Terms</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="weaponTypeId">Type:</label>
                        @Html.DropDownList("weaponTypeId", ViewBag.WeaponTypes as IEnumerable<SelectListItem>, new { onchange = "searchChanged();", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="searchValue">Name (contains):</label>
                        @Html.TextBox("searchValue", ViewBag.SearchValue as string, new { @class = "form-control" })
                    </div>
                    <input type="button" class="btn btn-primary pull-right" onclick="searchChanged();" value="Search">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">Additional Filters</div>
                <div class="panel-body form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-12">Max Requirements:</label>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6">
                            <div class="row">
                                <label for="str" class="col-xs-2 control-label"><img src="~/Content/Images/STR.png" data-toggle="tooltip" title="Strength" /></label>
                                <div class="col-xs-8 col-sm-7 col-md-6">
                                    @Html.TextBox("str", ViewBag.STR as int?, new { @class = "form-control", type = "number", min = "0" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <label for="dex" class="col-xs-2 control-label"><img src="~/Content/Images/DEX.png" data-toggle="tooltip" title="Dexterity" /></label>
                                <div class="col-xs-8 col-sm-7 col-md-6">
                                    @Html.TextBox("dex", ViewBag.DEX as int?, new { @class = "form-control", type = "number", min = "0" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <label for="int" class="col-xs-2 control-label"><img src="~/Content/Images/INT.png" data-toggle="tooltip" title="Intelligence" /></label>
                                <div class="col-xs-8 col-sm-7 col-md-6">
                                    @Html.TextBox("int", ViewBag.INT as int?, new { @class = "form-control", type = "number", min = "0" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <label for="fth" class="col-xs-2 control-label"><img src="~/Content/Images/FTH.png" data-toggle="tooltip" title="Faith" /></label>
                                <div class="col-xs-8 col-sm-7 col-md-6">
                                    @Html.TextBox("fth", ViewBag.FTH as int?, new { @class = "form-control", type = "number", min = "0" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="weight" class="col-xs-5 col-md-4">Max Weight:</label>
                        <div class="col-xs-6">@Html.TextBox("weight", ViewBag.Weight as decimal?, new { type = "number", min = "0", @class = "form-control" })</div>
                    </div>
                    <div class="form-group row">
                        <label for="infusionId" class="col-xs-5 col-md-4">Infusion:</label>
                        <div class="col-xs-6">@Html.DropDownList("infusionId", ViewBag.InfusionTypes as IEnumerable<SelectListItem>, new { @class = "form-control" })</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="table-responsive">
    <table id="weaponResultsTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
        <thead>
            <tr>
                <td colspan="1"></td>
                <td colspan="5" style="text-align:center;"><label>Base Damage</label></td>
                <td colspan="4" style="text-align:center;"><label>Requirements</label></td>
                <td colspan="5" style="text-align:center;"><label>Scaling</label></td>
                <td colspan="1"></td>
            </tr>
            <tr>
                <td><label>Name</label></td>

                <td class="col-weapon-search-stats"><img src="~/Content/Images/Phys.png" data-toggle="tooltip" title="Physical" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Magic.png" data-toggle="tooltip" title="Magic" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Fire.png" data-toggle="tooltip" title="Fire" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Lightning.png" data-toggle="tooltip" title="Lightning" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Dark.png" data-toggle="tooltip" title="Dark" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/STR.png" data-toggle="tooltip" title="Strength" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/DEX.png" data-toggle="tooltip" title="Dexterity" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/INT.png" data-toggle="tooltip" title="Intelligence" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/FTH.png" data-toggle="tooltip" title="Faith" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/STR.png" data-toggle="tooltip" title="Strength" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/DEX.png" data-toggle="tooltip" title="Dexterity" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/INT.png" data-toggle="tooltip" title="Intelligence" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/FTH.png" data-toggle="tooltip" title="Faith" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/LCK.png" data-toggle="tooltip" title="Luck" /></td>
                <td class="col-weapon-search-stats"><img src="~/Content/Images/Weight.png" data-toggle="tooltip" title="Weight" /></td>
                @*<td><label>Upgrade</label></td>*@
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (WeaponViewModel w in Model)
                {
                    <tr>
                        <td style="font-size:12px;">@Html.ActionLink(w.Name, "Details", new { weaponId = w.WeaponId, upgradeLevel = w.UpgradeLevel }, new { target = "_blank" })</td>
                        <td class="col-weapon-search-stats">@w.Physical</td>
                        <td class="col-weapon-search-stats">@w.Magic</td>
                        <td class="col-weapon-search-stats">@w.Fire</td>
                        <td class="col-weapon-search-stats">@w.Lightning</td>
                        <td class="col-weapon-search-stats">@w.Dark</td>
                        <td class="col-weapon-search-stats">@w.StrReq</td>
                        <td class="col-weapon-search-stats">@w.DexReq</td>
                        <td class="col-weapon-search-stats">@w.IntReq</td>
                        <td class="col-weapon-search-stats">@w.FthReq</td>
                        <td class="col-weapon-search-stats">@w.StrScaling%</td>
                        <td class="col-weapon-search-stats">@w.DexScaling%</td>
                        <td class="col-weapon-search-stats">@w.IntScaling%</td>
                        <td class="col-weapon-search-stats">@w.FthScaling%</td>
                        <td class="col-weapon-search-stats">@w.LckScaling%</td>
                        <td class="col-weapon-search-stats">@w.Weight</td>
                        @*<td>@w.UpgradePath</td>*@
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
